<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384550215253-577in4mu57v3l0uesphujfjh73tashia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384550215253-577in4mu57v3l0uesphujfjh73tashia</string>
	<key>API_KEY</key>
	<string>AIzaSyCB2eSdGGeRp_i74iZTTi5ATzvhiJskkO0</string>
	<key>GCM_SENDER_ID</key>
	<string>384550215253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minglebytes.sudokumingle</string>
	<key>PROJECT_ID</key>
	<string>sudokuminglebyminglebytes</string>
	<key>STORAGE_BUCKET</key>
	<string>sudokuminglebyminglebytes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384550215253:ios:1cbd43474c44dbfb677edc</string>
</dict>
</plist>